b {color: #003AAF; font-size: 12px;}
h2 {color: #0055BB; font-size: 18px;}
body {margin: 30px 0px 12px 50px; background: #EEEEEE;}
body,td,a,form,input,textarea {font-family: "Trebuchet MS",Verdana,serif; font-size: 12px; color: #222;} 
td {vertical-align: top;}
th {font-size: 10px;}
input.button {	font-weight: bold;	
			font-size: 9px;	
			font-family: Verdana, Arial, Helvetica, sans-serif;	
			padding: 4px 8px;	
			border-top: 1px solid white;	
			border-right: 1px solid black;	
			border-bottom: 1px solid black;	
			border-left: 1px solid white;	
			text-align: center;	
			min-width: 50px;}
input.button:link { 	background-color: #ccc; 	
                    color: #369;	
                    text-decoration: none;	}
input.button:visited {	background-color: #ccc; 	
                    color: #369;	
                    text-decoration: none;	}
                    
input.button:hover { 	background-color: #ccc; 	
                    color: red;	
                    border-color: black white white black;	
                    text-decoration: none;	}
                    
input.button:active { 	background-color: #ccc; 	
					color: #369; 	
					text-decoration: none;	}



a {font-family: "Trebuchet MS",Verdana,serif; font-size: 12px; color: #0044CC;}
small {color:#999; font-size: 10px; text-align:right; padding:6px 12px 0px 5px;}
img {border: none;}

.bottom a {color: #FFF; font-weight: bold; text-decoration: underline;}
.bottom td {height: 30px; background: #FF0000; padding: 0px 10px 0px 10px; vertical-align: middle; color: #FFF; font-weight: bold;}

.content {width: 572px; padding: 8px 5px 8px 10px; color: #222222;}

.logo {width: 680px; height: 250px; background: url(../img/logo.jpg) #FFFFFF no-repeat center;}
.gray {font-weight: bold; color: gray;}

.menu {width: 98px;}
.menu a {width: 93px; /*Internet Explorer hack*/ w\idth: 98px; \widht: 98px; font-size: 14px; text-decoration: none; display: block; padding: 2px 5px 2px 0px; color: #222;}
.menu a:HOVER {background: #0055BB; color: #FFF;}
.menu table, .bottom table, .news table, .news, .newsarchive, .newsarchive table, .servers {width: 100%;}
.menu td {text-align: left;}
.menuBreak {height: 1px; background: #CCC; width: 103px;}

.q {height: 290px; width: 180px; background: url(../img/q.jpg) #EEE;}

.tbl_h100 {height: 100%;}
.tbl_main {height: 100%; border: 1px solid #DADADA; background: #FFFFFF; width: 698px;}

.servers td {padding: 2px 5px 2px 5px;}

.links a:hover, .newsarchive a:hover , .downloads a:hover, .madeby a:hover {color: #FF0000;}

.downloads td {font-size: 11px;}
.downloads_path a {text-decoration: none; font-weight: bold;}

.file_txt {width: 10px; height: 15px; background: url(../img/file_txt.gif) no-repeat;}
.file_dir {width: 10px; height: 15px; background: url(../img/file_dir.gif) no-repeat;}
.file_mvd {width: 10px; height: 15px; background: url(../img/file_mvd.gif) no-repeat;}
.file_zip {width: 10px; height: 15px; background: url(../img/file_zip.gif) no-repeat;}
.file_avi {width: 10px; height: 15px; background: url(../img/file_avi.gif) no-repeat;}

.madeby {text-align: right; color:#999; font-size: 10px; padding:3px 0px 0px 0px;}
.madeby a {font-family: Verdana,serif; color:#666; font-size: 10px; text-decoration: none; letter-spacing: -1px;}

.submenu {width: 98px;}
.submenu a {width: 93px; /*Internet Explorer hack*/ w\idth: 98px; \widht: 98px; font-size: 14px; text-decoration: none; display: block; padding: 2px 5px 2px 0px; color: #222;}
.submenu a:HOVER {background: #0055BB; color: #FFF;}
.submenu table, .bottom table, .news table, .news, .newsarchive, .newsarchive table, .servers {width: 100%;}
.submenu td {text-align: left;}
